DISCORD_CLIENT_ID=1412406526894669874
DISCORD_CLIENT_SECRET=bBBqobQww0M_FdqVz2J_Y3ob1RUCQkTj
DISCORD_REDIRECT_URI=https://blazenodewuas.netlify.app/auth/discord/callback
SESSION_SECRET=your_session_secret
MONGODB_URI=your_mongodb_connection_string
PORT=4000